# Ignore coverage data
.coverage*


# Ignore Python bytecode files
__pycache__/


# Ignore .data folder / uncomment to ignore ingestion data
.data/

# Ignore test data folder
.test/

.pytest_cache

# ignore build files
dist